/* product-list.component.css */

.product-card {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  overflow: hidden;
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-card .card-body {
  padding: 20px;
}

.product-card .btn {
  width: 100%;
  /* border-radius: 0; */
}

.btn-delete {
  background-color: #ff5f6d;
}

.btn-delete:hover {
  background-color: #ff3344;
  transform: scale(1.05);
}

.update-btn {
  border: none;
  background: #ff5f6d;
  transition: transform 0.3s;
}

.update-btn:hover {
  transform: scale(1.05);
  background: #ffc371;
}

.btn-add {
  display: flex;
  float: inline-end;
  border: none;
  background: #ffc371;
  transition: transform 0.3s;
}

.btn-add:hover {
  transform: scale(1.05);
  background: #fb8993;
}
