<app-owner-header></app-owner-header>
<div class="container">
  <div class="row display-4">Dashboard</div>
  <div class="row mt-4">
    <div [routerLink]="['category']" class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body" style="height: 200px">
          <h5 class="card-title">Category</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
          </p>
        </div>
      </div>
    </div>
    <div [routerLink]="['products']" class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body" style="height: 200px">
          <h5 class="card-title">Products</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
          </p>
        </div>
      </div>
    </div>
    <div [routerLink]="['profile']" class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body" style="height: 200px">
          <h5 class="card-title">Profile</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body" style="height: 200px">
          <!-- Adjust the height as needed -->
          <h5 class="card-title">Orders</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            nec iaculis mauris.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <div class="row display-4">Dashboard</div>
  <div class="row mt-4">
    <div [routerLink]="['category']" class="col-md-6 mb-4">
    <div class="animation">
      <div class="">
        <h5 class="">Category</h5>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec
          iaculis mauris.
        </p>
      </div>
      </div>
    </div>
  </div>
</div> -->
