:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .login-container h2 {
    margin-bottom: 30px;
  }
  
  .btn-gradient {
    background: linear-gradient(to right, #FF5F6D, #FFC371);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  
  .btn-gradient:hover {
    transform: scale(1.05);
  }

  .errorNotification{
    background: linear-gradient(to right, #fd7c87, #ffcd87);
    position: fixed;
    border: none;
    top: 20px;
    right: 20px;
    z-index: 9999; 
  }
  
 
  